body {
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    overflow: hidden;
}

h1, h2, h3 {
    margin: 0
}

.page {
    overflow: hidden;
}

/*HEADER*/

.header {
    width: 100%;
    max-width: 1640px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    height: 100px;
}

nav {
    width: 420px;
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
    padding-left: 600px
}

nav a {
    text-decoration: none;
    color: #929292;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 27px;
}

nav a:hover {
    color: #0f7bff;
}

.header-btn {
    margin-top: 25px;
}

.header-logo {
    background: url('../img/header/header-logo.jpg') center no-repeat;
    background-size: contain;
    width: 179px;
    font-size: 36px;
    line-height: 24px;
    padding-top: 20px;
    color: white;
    text-align: center;
}

.header-btn {
    width: 150px;
    height: 50px;
    color: white;
    background-color: #0063dd;
    border: 2px solid #0063dd;
    border-radius: 50px;
}

.header-btn:hover {
    cursor: pointer;
    background-color: white;
    color: #0063dd;
}


/*INTRO*/

.intro {
    height: 100vh;
    max-height: 1040px;
    background: url('../img/intro-bg.jpg') center no-repeat;
    background-size: cover;
    overflow: hidden;
}

.intro .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 215px;
}

.intro .container span {
    width: 650px;
    height: 65px;
    margin-top: 40px;
    text-align: center;
}

.intro-btn {
    width: 150px;
    height: 50px;
    border-radius: 30px;
    color: #0063dd;
    border: 2px solid #0063dd;
    font-weight: 700;
    margin-bottom: 75px;
    margin-top: 40px;
}

.intro-btn:hover {
    background-color: #0063dd;
    color: white;
    cursor: pointer;
}

.intro-imgs {
    position: relative;
}

.intro-img-item {
    display: inline-block;
}

.intro-img-item:first-child {
    position: absolute;
    top: 90px;
    left: -240px;
}

.intro-img-item:last-child {
    position: absolute;
    top: 90px;
    left: 320px;
    z-index: 0;
}

.img-block {
    width: 347px;
    height: 540px;
    overflow: hidden;
    z-index: 1000;
    position: relative
}

.img-block-small {
    width: 260px;
    height: 540px;
    overflow: hidden;
}

.intro-device-small {
    width: 260px;
}

.img-block .intro-device {
    width: 347px;
    position: relative;
}

.img-block .intro-device-sensor {
    position: absolute;
    top: 25px;
    left: 150px;
    z-index: 101;
}

.img-block .intro-device-screen {
    position: absolute;
    top: 17px;
    left: 19px;
    z-index: 102;
}

.img-block-small .intro-device-sensor {
    position: absolute;
    top: 20px;
    left: 110px;
    z-index: 101;
}

.img-block-small .intro-device-screen {
    position: absolute;
    top: 17px;
    left: 17px;
    z-index: 102;
}

/*FEATURES*/

.features {
    padding-top: 160px;
    padding-bottom: 130px;
    background-color: #f5fcfd;
}

.features-item {
    width: 360px;
    height: 290px;
    display: inline-block;
    text-align: center;
    margin-right: 35px;
}

.features-item:last-child {
    margin-right: 0;
}

.features-item img {
    display: block;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 35px;
}

.features-item span {
    font-size: 18px;
    line-height: 27px;
    color: #333333;
}

.features-item p {
    font-size: 20px;
    font-size: 16px;
    line-height: 27px;
    color: #333333;
}

/*DESCRIPTION*/

.description-item {
    display: flex;
    align-items: center;
    height: 610px;
}

.col-text {
    width: 555px;
    display: inline-block;
}

.col-text:first-child {
    margin-left: 0px;
}

.col-text:last-child {
    margin-left: 100px;
}

.col-pic {
    width: 500px;
    height: 610px;
    display: inline-block;
    position: relative;
}

.col-pic:first-child{
    left: -100px;
    overflow: visible;
}

.col-pic-bg, .col-pic1, .col-pic2 {
    position: absolute;
}

.col-pic:first-child .col-pic1 {
    top: 120px;
    left: 180px;
}

.col-pic:first-child .col-pic2 {
    top: 160px;
    left: 370px;
}

.col-pic:last-child .col-pic1 {
    top: 80px;
    left: 20px;
}

.col-pic:last-child .col-pic2 {
    top: 130px;
    left: 200px;
}

col-text h2 {
    font-size: 32px;
    line-height: 36px;
}

.col-text p {
    font-size: 16px;
    line-height: 27px;
}

/*WORKS*/

.works {
    padding-top: 150px;
    padding-bottom: 130px;
    background-color: #f5fcfd;
}

.works .container h2 {
    text-align: center;
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 35px;
}

.works-title {
    font-size: 18px;
    line-height: 27px;
    text-align: center;
}

.works-text {
    width: 750px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.works-order {
    display: flex;
}

.works-order-item {
    width: 30%;
    height: 200px;
    margin-right: 55px;
    text-align: center;
}

.works-order-item:last-child {
    margin-right: 0;
}