/*
* {
    border: 1px dotted red;
}
*/

body {
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 27px;
    box-sizing: padding-box
}


.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    overflow: hidden;
    
}

h1, h2, h3 {
    margin: 0
}

.page {
    overflow: hidden;
}

.title {
    font-size: 32px;
    line-height: 36px;
    text-transform: capitalize
}

/*HEADER*/

.header {
    width: 100%;
    max-width: 1640px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    height: 100px;
}

nav {
    width: 420px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 13%;
}

nav a {
    text-decoration: none;
    color: #929292;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 27px;
}

nav a:hover {
    color: #0f7bff;
}

.burger {
    display: none;
}

.header-btn {
    margin-top: 25px;
    text-transform: uppercase
}

.header-logo {
    background: url('../img/header/header-logo.jpg') center no-repeat;
    background-size: contain;
    width: 179px;
    font-size: 36px;
    line-height: 24px;
    padding-top: 30px;
    color: white;
    text-align: center;
    margin-left: 30px;
}

.header-btn {
    width: 150px;
    height: 50px;
    color: white;
    background-color: #0063dd;
    border: 2px solid #0063dd;
    border-radius: 50px;
}

.header-btn:hover {
    cursor: pointer;
    background-color: white;
    color: #0063dd;
}

/*INTRO*/

.intro {
    background: url('../img/intro-bg.jpg') center  no-repeat;
    background-size: cover;
    position: relative;
/*    max-width: 1920px;*/
    width: 100%;
    height: 1043px;
    max-height: 100vh;
    margin: 0 auto;
}

.intro .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 1043px;
    
}

.intro .container span {
    width: 630px;
    height: 65px;
    margin-top: 45px;
    text-align: center;
}

.intro-btn {
    width: 160px;
    height: 50px;
    border-radius: 30px;
    color: #0063dd;
    border: 2px solid #0063dd;
    font-weight: 700;
    margin-bottom: 70px;
    margin-top: 45px;
    margin-right: 30px;
}

.intro-btn:last-child {
    margin-right: 0;
}

.intro-btn:hover {
    background-color: #0063dd;
    color: white;
    cursor: pointer;
}

.intro-imgs {
    position: relative;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    bottom: -20px;
}

.intro-img-item {
    display: inline-block;
    
}

.intro-img-item:first-child {
    position: absolute;
    top: 90px;
    left: -235px;
}

.intro-img-item:last-child {
    position: absolute;
    top: 90px;
    left: 325px;
    z-index: 0;
}

.img-block {
    width: 347px;
    height: 550px;
    overflow: hidden;
    z-index: 1000;
    position: relative;
    
}

.img-block-small {
    width: 260px;
    height: 540px;
    overflow: hidden;
}

.intro-device-small {
    width: 260px;
}

.img-block .intro-device {
    width: 350px;
    position: relative;
    
}

.img-block .intro-device-sensor {
    position: absolute;
    top: 25px;
    left: 150px;
    z-index: 101;
}

.img-block .intro-device-screen {
    position: absolute;
    top: 15px;
    left: 20px;
    z-index: 102;
}

.img-block-small .intro-device-sensor {
    position: absolute;
    top: 20px;
    left: 110px;
    z-index: 101;
}

.img-block-small .intro-device-screen {
    position: absolute;
    top: 17px;
    left: 17px;
    z-index: 102;
}

.scroll-btn {
    position: absolute;
    bottom: -35px;
    left: 50%;
    margin-left: -35px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    z-index: 1000;
    border: 1px solid #dcdcdc;
    color: #dcdcdc; 
    background-color: #ffffff;
}

.scroll-btn:hover {
    color: #fff;
    background-color: #dcdcdc;
    cursor: pointer;
}

.fa-arrow-down {
    font-size: 20px;
}

/*FEATURES*/

.features {
    width: 100%;
    padding-top: 140px;
    padding-bottom: 130px;
    background-color: #f5fcfd;
}

.features-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

.features-item {
    margin-right: 30px;
    width: 30%;
    height: 300px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);  
    padding-bottom: 25px;
}

.features-item:nth-last-of-type(2){
    top: 65px;
    position: relative;
    margin-bottom: 85px;
}

.features-item:last-child {
    margin-right: 0;
}

.features-item img {
    display: block;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 25px;
}

.features-item-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
}

.features-item p {
    font-size: 20px;
    font-size: 16px;
    line-height: 27px;
    color: #333333;
    margin: 25px 30px 25px 30px;
}

/*DESCRIPTION*/

.description .container {
    overflow: visible;
}

.description-item {
    display: flex;
/*    align-items: center;*/
    height: 610px;
}

.col-text {
    width: 555px;
    display: inline-block;
}

.col-text:first-child {
    margin-left: 0px;
    margin-right: 100px;
}

.col-text:last-child {
    margin-left: 100px;
}

.col-pic {
    width: 500px;
    height: auto;
    position: relative;
}

.col-pic:first-child{
    left: -100px;
    overflow: visible;
    
}

.col-pic-bg, .col-pic1, .col-pic2 {
    position: absolute;
}

.col-pic:first-child .col-pic1 {
    top: 115px;
    left: 185px;
    border-radius: 5px;
    
}

.col-pic:first-child .col-pic2 {
    top: 150px;
    left: 360px;
    border-radius: 5px;
}

.col-pic:last-child .col-pic1 {
    top: 90px;
    left: 10px;
    border-radius: 5px;
}

.col-pic:last-child .col-pic2 {
    top: 130px;
    left: 200px;
    border-radius: 5px;
}

.col-text p {
    font-size: 16px;
    line-height: 27px;
    margin: 40px 0;
}

.read-btn {
    border: none;
    background-color: #fff;
    color: #0f7bff;
    text-transform: capitalize;
    font-family: 'Quicksand';
    font-weight: 500;
}

.read-btn:hover {
    cursor: pointer;
}

/*WORKS*/

.works {
    padding-top: 150px;
    padding-bottom: 130px;
    background-color: #f5fcfd;
}

.works .container h2 {
    text-align: center;
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 35px;
}

.works-title {
    font-size: 18px;
    line-height: 27px;
    text-align: center;
}

.works-text {
    width: 750px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.works-order {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.works-order::after {
    content: '';
    width: 70%;
    height: 1px;
    border-top: 1px dotted #0f7bff;
/*    background-color: #0f7bff;*/
    position: absolute;
    left: 130px;
    top: 50px;
}

.works-order-item {
    width: 30%;
    margin-right: 55px;
    text-align: center;
    z-index: 10;
    padding-bottom: 20px;
}

.works-order-item:last-child {
    margin-right: 0;
}

.works img {
    margin-bottom: 30px;
}

.works-item-text {
    display: inline-block;
    width: 90%;
    font-size: 16px;
    line-height: 27px;
    height: 50px;
    
}

/*PRICING*/

.pricing {
    padding-top: 130px;
    padding-bottom: 130px;
}

.pricing-items {
    display: flex;
    
}

.pricing-item hr {
    width: 55%;
    color: #e0e0e0;
}

.pricing-plan {
    width: 360px;
    display: flex;
    flex-direction: column;
    
}

.title {
    margin-top: 165px;
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
    text-align: left
}

.pricing-btns {
    margin: 0 auto;
    margin-top: 30px;
    padding: 0;
}

.pricing-plan-btn {
    display: inline-block;
    width: 160px;
    height: 50px;
    
    font-size: 16px;
    line-height: 27px;
}

.btn-left:hover {
    color: #0f7bff;
    background-color: #fff;
    cursor: pointer;
}

.btn-right:hover {
    color: #fff;
    background-color: #0f7bff;
    cursor: pointer;
}

.pricing-plan p {
    text-align: left
}

.btn-left {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-right: none;
    background-color: #0f7bff;
    border: 1px solid #0f7bff;
    color: white;
}

.btn-right {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-left: none;
    background-color: #fff;
    border: 1px solid #0f7bff;
    color: #0f7bff;
    margin-left: -10px;
}


.pricing-item {
    width: 360px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 20px;
    text-align: center;
    padding: 10px;
/*    height: 580px;*/
    padding-top: 40px;
    padding-bottom: 40px;
}

.pricing-plan {
    border: none;
    box-shadow: none
}

.pricing-btn {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    width: 165px;
    height: 50px;
    background-color: #0f7bff;
    border: 1px solid #0f7bff;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    line-height: 27px;
}

.pricing-btn:hover {
    cursor: pointer;
    color: #0f7bff;
    background: white;
}

.pricing p {
    color: #929292;
}

.pricing p:last-of-type{
    margin-bottom: 30px
}



.pricing span {
    color: #0f7bff;
    font-weight: 500;
    font-size: 32px;
}

.fa-dollar-sign {
    font-size: 20px;
}


/*REVIEWS*/

.reviews {
    background-color: #f5fcfd;
    display: flex;
    margin: 0 auto;
    overflow: hidden;
}


.testimonials-text {
    padding-top: 130px;
    padding-left: 128px;
    max-width: 1640px;
}

.testimonials-text h3 {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 55px;
    margin: 0;
    margin-bottom: 55px;
}

.reviews-items {
    display: flex;
    width: 1070px;
}

.reviews-item {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 360px;
    height: 210px;
    background-color: #fff; 
    margin-right: 30px;
    padding: 30px;
}

.reviews-item span {
    display: block;
    
}

.review-author {
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 10px;
    text-transform: capitalize;
}

.review-author i {
    color: #0cacf4;
    float: right;
}

.review-job {
    text-transform: capitalize;
    color: #929292;
}

.reviews-item p {
    color: #929292;
}

.reviews-scroll {
    margin-top: 50px;
}

.reviews-scroll  img {
    margin: 0 5px;
}


/*NEWS*/

.news {
    padding-top: 130px;
    padding-bottom: 130px;
}

.news .title {
    display: flex;
    align-items: center;;
    justify-content: center;
    margin: 0;
    text-align: center;
    height: 74px;
    background: url('../img/title-1.png') center no-repeat;
}

.news-text {
    position: relative;
}

.news .title-img {
    position: absolute;
    top: -60px;
    left: 50%;
    margin-left: -54px;
    z-index: -1;
}


.news-text {
    width: 750px;
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 50px;
    text-align: center; 
}

.news-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.news-item {
    margin-bottom: 15px;
}

.col2 {
    width: 50%;
}

.col2:first-child {
    margin-right: 30px;
}

.main-news-item {
    width: 99%;
}

.news-item-text {
    text-align: left;
}

.news-item-img {
    width: 30%;
    display: inline-block;
    margin: 0 auto;
    margin-right: 20px;
    vertical-align: middle
}

.news-item-col {
    width: 60%;
    display: inline-block;
    text-align: left;
    vertical-align: middle
}

.news-btn {
    border: none;
    background: none;
    color: #0f7bff;
    text-transform: capitalize;
    float: left;
    font-size: 16px;
    line-height: 27px;
    font-family: 'Quicksand'
}

.news-btn:hover {
    cursor: pointer;
}

.news-title {
    color: #0f7bff;
    text-align: left;
    font-size: 24px;
    line-height: 27px;
}

/*TRIAL*/

.trial {
    background-color: #f5fcfd;
    padding-top: 130px;
    padding-bottom: 130px;
}

.trial .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.trial-text{
    display: inline-block;
}

.trial-text .title {
    margin-top: 0;
}

.trial-btn {
    width: 260px;
    height: 80px;
    background-color: #0f7bff;
    color: white;
    font-size: 16px;
    line-height: 27px;
    border: 1px solid #0f7bff;
    border-radius: 5px;
}

.trial-btn:hover {
    color: #0f7bff;
    background-color: #fff;
    cursor: pointer
}


/*FOOTER*/

.footer {
    background-color: #0f7bff;
    padding-top: 130px;
    color: white;
    text-align: center;
}

.footer-logo {
    font-size: 36px;
    line-height: 24px;
    padding-top: 10px;
}


.footer-input {
    border: 1px solid #fff;
    background-color: #0f7bff;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    height: 50px;
    width: 360px;
    text-transform: capitalize;
    margin-right: 0;
    padding-left: 20px;
    color: #fff;
    margin-right: -10px;
}

.footer-input::placeholder {
    color: #fff;
    font-family: 'Quicksand';
}

.footer-btn {
    border: 1px solid #fff;
    background-color: #fff;
    color: #0f7bff;
    width: 200px;
    height: 54px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    text-transform: uppercase;
    margin-left: 0;
    margin-bottom: 100px;
    margin-top: 40px;
}

.footer-btn:hover {
    color: #fff;
    background-color: #0f7bff;
    cursor: pointer
}

.footer-line {
    width: 100%;
    size: 2px;
    color: #fff;
    left: 0;
    right: 0;
    position: absolute;
}

.footer-contacts {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.footer-up-btn {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #0f7bff;
    color: #0f7bff
}

.footer-btn-visible {
    position: fixed;
    bottom: 30px;
    right: 50px
}

.footer-up-btn:hover {
    cursor: pointer;
    background-color: #0f7bff;
    color: #fff;
}


/*MEDIA*/

@media (max-width: 1440px) {

    
    .header-btn {
        margin-right: 20px
    }

    .header-logo {
        margin-left: 20px;
    }

    .nav {
        margin-right: 50px;
    }
    
    
    .description-item {
        overflow: hidden
    }
    
    .reviews {
        padding-bottom: 130px;
    }
    
    .pricing-plan-btn {
        width: 120px;
    }
    
    .testimonials-img {
        display: none;
    }
    
}

@media (max-width: 1024px) {
    
    .nav {
        margin-right: 100px;
    }

    .features-items {
        display: flex;
        justify-content: space-around;
        padding: 0 20px;
    }

    .features-item {
        width: 31%;
        margin-right: 0;
    }

    .description-item {
        margin-left: 40px;
        margin-right: 40px;
        display: flex;
        justify-content: space-between
    }

    .col-text {
        width: 60%;
    }
    
    .col-text:first-child {
        margin-left: 0px;
        margin-right: 0px;
    }

    .col-text:last-child {
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .col-pic {
        width: 40%
    }
    
    .col-pic2 {
        display: none;
    }
    
    .col-pic-bg {
        display: none;
    }
    
    .col-pic:last-child .col-pic1,
    .col-pic:first-child .col-pic1{
    top: 0px;
    left: 0px;
    border-radius: 5px;
    }

    .works-order {
        margin-left: 40px;
        margin-right: 100px;
    }
    
    .works-order-item {
        height: auto;
        padding-bottom: 10px
    }

    .works-item-text {
        padding: 0;
        text-align: left;
        width: 90%;
    }
    

    .pricing-item {
        width: 30%;
    }

    .pricing-btns {
        display: flex;
        flex-direction: column;
        padding: 0;

    }

    .btn-left {
        margin-bottom: 30px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
    }

    .btn-right {
        padding: 0;
        margin: 0;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }

    .reviews {
        padding-bottom: 130px;
        padding-top: 130px;
    }

    

    .testimonials-text {
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .reviews-items {
        display: flex;
        flex-direction: row;
        width: 95%;
        margin: 0 auto;
        padding: 0;
    }

    .reviews-item {
        width: 29%;
        margin: 0 auto;
        padding: 10px;
    }

    .news {
        margin: 0 20px;
    }

    .col2 {
        width: 50%;
    }

    .trial {
        padding: 130px 100px;
        display: flex;
        flex-direction: column;
    }

    .footer {
        width: 100%;
        font-size: 14px;
    }


}


@media (max-width: 768px) {
    

    .nav {
        display: none;
    }

    .intro .container {
        padding-left: 0;
        width: 100%;
        margin: 0 auto
    }

    .burger {
        display: block;
        width: 50px;
        height: 50px;
        padding-top: 25px;
    }

    .burger:hover {
        cursor: pointer;
    }

    .burger-item {
        height: 4px;
        width: 100%;
        display: block;
        background-color: #333;
        position: relative;
        top: 50%;
        margin-top: -2px;
    }

    .burger-item::before {
        content: '';
        height: 4px;
        width: 100%;
        display: block;
        background-color: #333;
        position: absolute;
        top: -15px;
    }

    .burger-item::after {
        content: '';
        height: 4px;
        width: 100%;
        display: block;
        background-color: #333;
        position: absolute;
        top: 15px;
    }


    .nav-burger {
        width: 100%;
        height: 250px;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-top: 100px;
    }

    .features-items {
        display: flex;
        flex-direction: column;
        justify-content: space-around
    }

    .features-item {
        width: 90%;
        margin: 0 auto;
        padding: 0;
    }

    .features-item:last-child {
        margin: 0 auto;
        padding: 0;
    }

    .features-item:nth-last-of-type(2) {
        top: 40px;
    }

    .description-item {
        display: flex;
        flex-direction: column;
        height: auto;
        margin: 0;
        padding: 130px 50px;
    }

    .col-pic {
        display: none;
    }

    .col-text:first-child,
    .col-text:last-child {
        margin: 0;
        padding: 0;
        display: block;
        width: 90%;
    }
    
    .col-text .title {
        margin-top: 0;
    }
    
    .works {
        padding: 130px 30px;
    }

    .works-order {
        margin-left: 40px;
        margin-right: 40px;
        display: flex;
    }

    .works-order-item {
        width: 30%;
        padding: 0;
        margin: 0;
        height: auto
    }

    .works-item-text {
        text-align: center;
        width: 90%;
        margin: 10px;

    }

    .works-order::after {
        width: 70%
    }
    
    .news-items {
        display: flex;
        flex-direction: column;
    }
    
    .col2 {
        width: 100%;
    }
    
    .reviews {
        padding: 130px 30px;
    }
    .footer-input {
        width: 50%;
    }
    
    .footer-contacts {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
    }

}

@media (max-width: 650px) {

    
    .header-logo {
        display: none;
    }

    .burger {
        margin-left: 50px;
    }
}


@media (max-width: 425px) {

    .intro .container .intro-text {
        width: 80%;
    }

    .intro-img-item:nth-last-of-type(1) {
        display: none;
    }

    .intro-img-item:nth-last-of-type(3) {
        display: none;
    }

    .intro-btns {
        margin-top: 80px;
    }

    .col-pic:first-child,
    .col-pic:last-child {
        display: none;
    }

    .description {
        padding-bottom: 130px;
    }

    .description-item {
        height: 300px;
        margin: 0 20px;
    }

    .works-text {
        width: 90%;
    }

    .works-order {
        display: flex;
        flex-direction: column;
    }

    .works-order::after {
        display: none
    }

    .works-order-item {
        display: block;
        width: 90%;
        padding: 0;
        margin: 20px 0;
    }

    .pricing-items {
        display: flex;
        flex-direction: column;
    }

    .pricing-item {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .reviews-items {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 0;
    }

    .reviews-item {
        width: 90%;
        margin-bottom: 20px;
    }

    .news {
        width: 100%;
        margin: 0;
        padding: 100px 0;
    }

    .news-text {
        width: 90%;
        
    }

    .news-items {
        display: flex;
        flex-direction: column
    }

    .news-item {
        width: 90%;
        margin: 0 auto;
        padding: 20px 0;
    }

    .col2 {
        width: 100%;
    }

    .trial .container{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .trial-btn {
        width: 150px;
        height: 60px;
        border-radius: 30px;
    }

    .footer-logo {
        padding-top: 10px;
    }

    .footer-subscribe {
        width: 100%;
    }

    .footer-input {
        width: 60%;
    }

    .footer-btn {
        width: 30%;
    }

    .footer-contacts {
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 0;
    }

    .footer-menu {
        padding: 30px 0;
    }
    
    .footer-up-btn {
        margin-top: 50px;
    }
}

@media (max-width: 320px) {

    .header-logo {
        display: none;
    }

    .intro .title {
        width: 100%;
        font-size: 24px;
        text-align: center
    }

    .intro-btns {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0 auto;
        margin-top: 150px;
        margin-bottom: 100px;
    }

    .intro-btn {
        margin: 20px 0;
        padding:0;

    }

    .intro-img-item {
        display: none;
    }

    .features {
        padding: 80px 0;
    }

    .features-item {
        padding-bottom: 20px;
    }

    .features-item:last-child {
        padding-bottom: 20px;
    }

    .features-item {
        width: 95%;
    }

    .features-item .features-item-text {
        width: 90%
    }

    .description .container {
        padding: 0;
        margin: 0
    }

    .description-item {
        padding: 0;
        margin: 0;
        margin-bottom: 50px;
    }

    .works {
        padding: 60px 0;
        margin: 0;
    }

    .pricing {
        padding: 60px 0;
        margin: 0;
    }

    .reviews {
        padding: 60px 0;
    }

    .news {
        padding: 60px 0;
    }

    .footer {
        padding-top: 60px;
    }


    .trial {
        padding: 60px 20px;
        text-align: center
    }

    .trial-btn {
        margin: 0 auto
    }

    
}